table {
    width: 1000px;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

th {
    font-weight: bold;
    padding: 10px 8px;
    background: #FFC99C;
    border: none;
    border-bottom: 5px solid #FFC99C;
}

td {
    height: 50px;
    padding: 5px 8px;
    border-bottom: 1px solid #FFC99C;
    transition: .3s linear;
}

.no-display-border {
    border: none;
}

.date {
    font-weight: 900;
    font-size: 30px;
}